.col-md-2{
  padding-right: 25px;
  padding-left: 30px;
}

body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1,h2,h3,h4,h5 {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h2 {
    color: #46619B;
}
h5 {
  font-size: 80%;
  text-align: left;
  line-height: 1.6;
}
p {
    margin: 10px 0 10px;
}
a {
  color: grey;
  &:focus,
  &:hover {
    color: grey;
  }
}
img {
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    height: auto;
}
small {
  text-align: center;
  font-size: 65%;
  color: #3b3b3b;
  line-height: 1;
}
.ptb {padding-top: 250px; padding-bottom: 300px;}
.mtb {margin-top: 100px; margin-bottom: 100px;}
.aligncenter {
	margin-left: auto;
	margin-right: auto;
	display: block;
	clear: both;
}
.logo {
  max-width: 250px;
  padding: 2%;}
html,
body {
  width: 100%;
  height: 100%;
}
.magic {
  display: table;
  width: 100%;
  height: 100%;
}
.magic__title {
  display: table-cell;
  vertical-align: middle;
  font-size: 42px;
  text-transform: uppercase;
}

.magic__who {
  color: white;
}


.modal-body {
  text-align: justify;
}

.modal-content {
margin: 10%;
padding: 4%;
border-radius: 0px;
}

.cd-intro {
  height: 600px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  z-index: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cd-intro .cd-intro-title {
  position: relative;
  left: 50%;
  max-width: 1000px;
  top: 50%;
  bottom: auto;
  right: auto;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
}

.partners {
	background-image: url(../images/vermont_partners.jpg);
}
.thumbnail {
  background-color: #46619B;
  border: none;
  border-radius: 0;
}
.partners p {
  color: white;
}
.footer {
	background-color: #0E0E10;
	padding-top: 2%;
	padding-bottom: 5px;
	background-attachment: relative;
	background-position: center center;
	width: 100%;
	color: grey;

    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@media only screen
  and (max-width: 700px) {
    .magic__title {
        padding: 5%;
    }
    .modal {
    margin-top: 50px;
  }
		.footer {
			height: 50%;
      padding-top: 5%;
		}
    img {
      padding-bottom: 5%;
    }
}
