---
title: Vermont Partners
---

<div style="background-color: #46619B">
  <div class="logo">
        <img src="images/logo-white.svg">
  </div>
  <div id="div1">
        <div class="magic ptb">
            <div class="magic__title">
                <span class="magic__who js-replace">EMPOWERING EXISTING ASSETS</span>
            </div>
        </div>
  </div>
</div>


<img src="images/vermont_partners.jpg" )>

<div class="container">
    <div class="row mtb partners">
        <div class="col-md-3">
            <a href="#" class="thumbnail" data-toggle="modal" data-target="#lightbox1">
                <p>Frank M. Huber <br> Managing Partner</p>
            </a>
        </div>
        <div class="col-md-3">
            <a href="#" class="thumbnail" data-toggle="modal" data-target="#lightbox2">
                <p>Frank D. Masuhr <br> Managing Partner</p>
            </a>
        </div>
        <div class="col-md-3">
            <a href="#" class="thumbnail" data-toggle="modal" data-target="#lightbox3">
                <p>Yorck H. Richter <br> Managing Partner</p>
            </a>
        </div>
        <div class="col-md-3">
            <a href="#" class="thumbnail" data-toggle="modal" data-target="#lightbox4">
                <p>Dr. Sebastian Rave <br> Operating Partner</p>
            </a>
        </div>
    </div>
</div>
<div id="lightbox1" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <button type="button" class="close hidden" data-dismiss="modal" aria-hidden="true">×</button>
        <div class="modal-content">
            <div class="modal-body">
                <p>Frank is Managing Partner and Co-founder of Vermont Partners AG. Before joining Vermont Partners he was mainly working with several real estate focused companies where he overviewed and led acquisitions of over 2 billion € of assets. His present
                    business focus is on restructuring, turnaround and financing in the Real Estate sector as well as in the industry sector. Frank has been in several CEO / CFO / CRO positions i.e. with Blackstone Real Estate Partners, Germany (CEO), where he was
                    responsible for building and managing Blackstones residential portfolio in Germany, RSE Grundbesitz und Beteiligungs-AG (CFO / CEO) and GIVAG Gesellschaft f. Immobilien- und Vermögensanlagen Aktiengesellschaft (CEO). Mr. Huber also worked in
                    different Advisory and Supervisory Boards (Allboden Allgemeine Grundstücks-Aktiengesellschaft, KHS AG, MATERNUS-Kliniken Aktiengesellschaft, RSE Eurolux SA, Navona 300 SA, Aareon Wodis GmbH). Frank earned an Master of Business Administration from
                    Augsburg University.
                </p>
            </div>
        </div>
    </div>
</div>
<div id="lightbox2" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <button type="button" class="close hidden" data-dismiss="modal" aria-hidden="true">×</button>
        <div class="modal-content">
            <div class="modal-body">
                <p>Frank is Managing Partner and Co-founder of Vermont Partners AG and a Mechanical Engineer (HVAC) by profession. Before joining Vermont Partners he was mainly working with several Real Estate and Facility Service focused companies. He is appointed
                    Deputy Chairman of the Advisory Board at ASSMANN Beraten + Planen AG, Berlin and Advisory Board Member at TLG Immobilien AG, a stock listed Real Estate company in Berlin. Frank served as CEO/CRO and Chairman of the Board at BEKON Holding AG, Munich
                    Previously, Mr. Masuhr was the Chief Representative of Alba Group and Managing Director of ALBA Facility Services and ALBA Property Management from 2006 to 2012. Prior to that, Mr. Masuhr was a Member of the Executive Board at Dussmann AG one of the
                    world's biggest multi-service-providers with business focus on Facilities Management. Prior to that, from 2002 to 2004, he was the Member of the Executive Board at Stangl AG, a mechanical contracting and Facilities Management Company. Before that,
                    from 1995 to 2002, Mr. Masuhr was the CEO / COO at Krantz TKT Group, where he started working as a branch manager in 1989.
                </p>
            </div>
        </div>
    </div>
</div>
<div id="lightbox3" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <button type="button" class="close hidden" data-dismiss="modal" aria-hidden="true">×</button>
        <div class="modal-content">
            <div class="modal-body">
                <p>Yorck is Managing Partner and Co-founder of Vermont Partners AG. He is a BSc (Hons) Property & Finance and holds a degree from CASS City University Business School (London) as well as an MSc Finance from Imperial College of Science, Technology and
                    Medicine (London). He started his professional career working as an investment analyst with Jones Lang Wootton and J.P. Morgan. Mr. Richter is focused on Asset / Property and Facilities Management in daily operation as well as in non- performing
                    situations. He has also a strong track record in restructuring and turnaround of Real Estate investments for strategic and institutional investors both locally and from abroad. Yorck has been in several CEO / CFO / CRO positions i.a. at BARG Holding,
                    Berlin (asset value 4,000m €) and Gestrim Deutschland AG, Munich. He is Member of the Advisory Board at Gregor AG, Kerns (Switzerland).</p>
            </div>
        </div>
    </div>
</div>
<div id="lightbox4" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <button type="button" class="close hidden" data-dismiss="modal" aria-hidden="true">×</button>
        <div class="modal-content">
            <div class="modal-body">
                <p>Sebastian is an Operating Partner of Vermont Partners AG. Before joining Vermont Partners he was mainly working with several internet businesses with a strong focus on e-commerce and digital media. His present business focus is on restructuring,
                    turnaround and financing in the startup sector. His advice is frequently sought by large corporations for managing their digital transformation. Sebastian has been in several CEO / CFO / CRO positions i.e. with Rocket Internet subsidiary Glossybox,
                    where he was responsible for cost-cutting, professionalizing financial reporting and downsizing their legal structure, ProSiebenSat1 subsidiary Covus Ventures and private-equity held Scarosso. Sebastian holds a PhD in law from University of Münster,
                    an M.A. (Oxon) from the University of Oxford, and a German state law degree after having attended Bucerius Law School in Hamburg.
                </p>
            </div>
        </div>
    </div>
</div>

<h2>REFERENCES</h2>
<img src="images/logos.png">
<br>

<h5>Kontakt/Impressum: Vermont Partners AG Blegistrasse 25 6340 Baar/ZG Schweiz Firmennummer CHE-109.454.164 info@vermont-partners.com</h5>
<small>Disclaimer: Der Inhalt dieser Website ist geschützt. Alle hier dargestellten Informationen und Stellungnahmen
    stammen von glaubwürdigen und verlässlichen Quellen. Dennoch wird keine Verantwortung oder Garantie für deren Richtigkeit und Vollständigkeit übernommen. Alle dargestellten Informationen und Stellungnahmen können jederzeit und ohne Ankündigung
    verändert werden. Jegliche Form des Kopierens, Weiterleitens oder Veröffentlichens von Teilen oder des gesamten Inhaltes ohne das schriftliche Einverständnis von Vermont Partners AG ist untersagt. © 2014 Vermont Partners AG, Schweiz
</small>
